{
  "extends": ["wesbos/typescript"],
  "rules": {
    "no-console": 2,
    "no-use-before-define": "off",
    "@typescript-eslint/no-use-before-define": ["error"],
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "es5",
        "singleQuote": true,
        "printWidth": 120,
        "tabWidth": 4,
        "htmlWhitespaceSensitivity": "ignore"
      }
    ]
  }
}
